

.Banner {
    background-color: #414141;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-auto-columns: minmax(10%, 10%);
}

.InfoPanel {
    grid-column: 1 / 8;
    background-color: #303030;
    backdrop-filter: blur(25px); 
}

.PhotoPanel {
    grid-column: 8 / 11;
    background-color: #303030;
}

.PhotoPanel > img {
    width: 100%;
    height: auto;
}

.NameText {
    color: #9DB2BF;
    font-size: 4em;
    font-weight: bold;
}

.HiText {
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.InfoText {
    color: white;
    font-size: 2.5em;
}

.NameH {
    padding-top: 10vh;
}

.InfoH{
    padding-top: 10vh;
}

