.Social {
    margin: 0;
    padding: 0;
    background: #333;

    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #414141;
    padding: 0 8rem;
}

.socialContainer {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem 0rem;
}

.socialContainer .card {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.socialContainer .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #414141;
    transition: 0.7s;
    z-index: 1;
}

.socialContainer .card:nth-child(1) .icon {
    background: #e07768;
}

.socialContainer .card:nth-child(2) .icon {
    background: #6eadd4;
}

.socialContainer .card:nth-child(3) .icon {
    background: #4aada9;
}

.socialContainer .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.socialContainer > * > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.socialContainer .card .face {
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.socialContainer .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-2vh);
}

.socialContainer .card:hover .face.face1 {
    background: #414141;
    transform: translateY(0px);
}

.socialContainer .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.socialContainer .card:hover .face.face1 .content {
    opacity: 1;
}

.socialContainer .card .face.face1 .content i {
    max-width: 100px;
}

.socialContainer a {
    text-decoration: none;
    color: #414141;
}
